a {
	font-family: "proxima-nova",sans-serif;
	font-style: normal;
	font-weight: 600;
	letter-spacing: 1px;
	color: initial;
	text-decoration: none;
}

a.fi-social-github:hover {
	-webkit-transition: .2s all ease-in-out;
	        transition: .2s all ease-in-out;
	color: #4a4a4a;
}

a.fi-social-twitter:hover {
	-webkit-transition: .2s all ease-in-out;
	        transition: .2s all ease-in-out;
	color: #3cf;
}

a.fi-social-dribbble:hover {
	-webkit-transition: .2s all ease-in-out;
	        transition: .2s all ease-in-out;
	color: #ea4c89;
}


.profile-photo {
	display:inline-block;
	width: 60px;
	border-radius: 70px;
}

.center {
	text-align: center;
}

#footer {
	/*background: #313743;*/
	padding: 100px;
}


#relayplay {
	background: url('../img/relayplay.jpg') no-repeat center center fixed;
 background-size: cover;
  	height: 375px;
}

#carousell {
	background: url('../img/carousell-desktop-mockup.jpg') no-repeat center center fixed;
 background-size: cover;
  	height: 375px;
}

#nebulo {
	background: url('../img/nebulo-iphone-mockup.jpg') no-repeat center center fixed;
 background-size: cover;
  	height: 375px;
}


#multitude {
	background: url('../img/multitude-mockup.jpg') no-repeat center center fixed;
 background-size: cover;
  	height: 375px;
}

.app-heading {
	font-family: "proxima-nova",sans-serif;
	font-style: italic;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 2.5em;
	margin-top: 15%;
	margin-bottom: 0;
	text-shadow: 2px 2px 0px rgba(0,0,0,0.2);
}

.app-desc {
	width: 100%;
	font-family: "proxima-nova",sans-serif;
	font-style: normal;
	font-weight: 400;
	text-transform: capitalize;
	font-size: 16px;
}

.app-heading.right {
	text-align: right;
}

.app-heading.left {
	text-align: left;
}

.left {
	color: #fff;
}

.right {
	text-align: right;
	color: #4A4A4A;
}


#profile-bar p {
	font-family: "leitura-news", 'Open Sans', serif;
	font-style: normal;
	color: #3d464d;
	line-height: 1.5em;
	font-weight:300;
	vertical-align: middle;
	text-align: left;
	font-size: 1em;
}

#profile-bar p a {
	font-family: "leitura-news", 'Open Sans', serif;
	font-style: normal;
	font-weight: 300;
	color: #FFFFFF;
	line-height: 1.5em;
	text-decoration: underline;
}

#nav {
	display: block;
	float: right;
	font-size: 1rem;
	list-style: none;
	padding-left: 0;
	margin: 0 auto;
	text-align: center;
}

#nav li {
	display: inline-block;
	padding: 0 5 0 5;
}

#profile-bar span {
	font-family: "proxima-nova",sans-serif;
	font-style: normal;
	font-weight: 700;
	color: #000000;
	font-size: 1.3rem;
	display: block;
	line-height: 1;
	margin-top: .520rem;
}

#profile-bar h3 {
	font-family: "proxima-nova",sans-serif;
	font-style: italic;
	font-weight: 700;
	display: inline-block;
	color: #4A4A4A;
	margin: 0;
}

#profile-bar a span {
	margin-left: .520rem;
	display: inline-block;
}

.row {
	padding: 1.5em;
}

/* code to get full width */
.row.fullWidth {
	width: 70%;
	margin-left auto;
	margin-right: auto;
	max-width: initial;
}

/* BUTTONS */
a.btn {
	font-size: 1em;
}

.btn {
	width: auto;
	display: inline-block;
	margin: 0 auto;
	line-height: 1.6em;
	-webkit-transition: .2s all ease-in-out;
	        transition: .2s all ease-in-out;
	padding: 0.8em 1.2em;
	text-transform: uppercase;
	background-color: transparent;
	font-weight: 500;
	border-bottom: none;
	border-radius: 10px;
}

.btn:hover {
    background-color: #4A4A4A;
    color: #fff;
    box-shadow: inset 0 0 0 3px #4A4A4A;
}

.btn.right {
	text-align: right;
	float:right;
	color: #4A4A4A;
	box-shadow: inset 0 0 0 3px #4A4A4A;
}

.btn.right:hover {
	background-color: #4A4A4A;
	color: #fff;
}

.btn.left {
	text-align: left;
	float: left;
	color: #fff;
	box-shadow: inset 0 0 0 3px #fff;
}

.btn.left:hover {
	background-color: #fff;
	color: #4A4A4A;
}

.btn.center {
	color: grey;
	box-shadow: inset 0 0 0 2px grey;
	margin: 0 auto;
	text-align:center;
	display: block;
}

.btn.center:hover {
	background-color: #fff;
	color: #000;
}

.social-btn {
	width: auto;
	display: inline-block;
	margin: 0 auto;
	line-height: 1.6em;
	-webkit-transition: .2s all ease-in-out;
	        transition: .2s all ease-in-out;
	text-transform: uppercase;
	background-color: #fff;
	font-weight: 700;
	color: #000;
	border-bottom: none;
	box-shadow: inset 0 0 0 3px transparent;
}

.social-btn:hover {
    background-color: transparent;
    color: #3c7ee4;
    box-shadow: inset 0 0 0 3px #fff
}

/**** PRODUCT PAGE CSS ****/
#accolades {
	background: url('../img/arrow.png'), #313743;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
	        align-items: center;
}

#accolades h3 {
	font-family: "proxima-nova",sans-serif;
	font-style: normal;
	font-weight: 700;
	color: #FFFFFF;
	font-size: 1.5em;
	line-height: 1.5em;
	vertical-align: middle;
	text-align: center;
	font-size: 2em;
	margin-bottom: 1em;
}

#accolades p {
	font-family: "proxima-nova",sans-serif;
	font-style: normal;
	font-weight: 300;
	text-align: center;
	color: #fff;
	margin-top: 0;
	margin-bottom: 24px;
}

#product-desc h3 {
	color:  rgb(61, 70, 77);
	font-family: "leitura-news", serif;
	font-style: normal;
	font-weight: 800;
	font-size: 1.5em;
}

#product-desc  p {
	color: #3d464d;
	font-family: "leitura-news", serif;
	font-style: normal;
	font-weight: 300;
}

#product-image {
	height: 500px;
}

#product-image.relayplay {
	background: url('../img/relayplay.jpg') no-repeat center center;
 background-size: cover;
}


#product-image.carousell {
	background: url('../img/carousell-desktop-mockup.jpg') no-repeat center center;
 background-size: cover;
}

#product-image.multitude {
	background: url('../img/multitude-mockup.jpg') no-repeat center center;
 background-size: cover;
}

#product-image.nebulo {
	background: url('../img/nebulo-iphone-mockup.jpg') no-repeat center center;
 background-size: cover;
}

#footer.small {
	padding:50px;
}

#footer-btn {
	margin:10px;
}

#bio {
	padding-top: 5px;
}

#header {
	padding-bottom: 0px;
}

h3.appTitle {
	margin-bottom: 0;
}

p.appDescription {
	margin-top: 0;
	font-weight: 100;
	color: grey;
}

@media screen and (max-width: 64.063em) {

	h2.app-heading {
		margin-top: 0;
		font-style: normal;
	}

	h2.app-heading.left {
		width: 100%;
		text-align: center;
	}

	h2.app-heading.right {
		width: 100%;
		text-align: center;
	}

	h3.app-desc {
		text-align: center;
		width: 100%
	}

	a.btn.left {
		width: 100%;
		text-align: center;
	}

	a.btn.right {
		width: 100%;
		text-align: center;
	}

	#footer {
		padding: 100 0 100 0;
	}

	.app.row {
		padding: 100 20 100 20;
	}
	
	#nav {
		float: none;
	}

	div#profile-bar.row {
		padding: 15%;
	}

	#profile-bar a img {
		display: none;
	}

	#profile-bar a span {
		letter-spacing: 1px;
		width: 100%;
		font-size: 2em;
		margin: 0 auto;
		text-align: center;
	}

	#profile-bar.row {
		padding: 0px;
	}

	#relayplay {
		background: rgb(27, 27, 31);
		color: rgb(180, 186, 191);
		height: auto !important;
	}

	#carousell {
		background: rgb(255, 255, 255);
		color: rgb(38, 45, 46);
		min-height: 200px;
		height: auto !important;
	}

	#nebulo {
		background: rgb(27, 27, 31);
		color: rgb(180, 186, 191);
		min-height: 200px;
		height: auto !important;
	}


	#multitude {
		background: rgb(255, 255, 255);
		color: rgb(38, 45, 46);
		min-height: 200px;
		height: auto !important;
	}

	#product-image {
		height: auto;
		padding: 40%;
	}

	#product-image.relayplay {
		background: url('../img/relayplay_mobile.jpg') no-repeat;
	 	background-size: 100%;
	}


	#product-image.carousell {
		background: url('../img/carousell-desktop-mockup_mobile.jpg') no-repeat;
	 	background-size: 100%;
	}

	#product-image.multitude {
		background: url('../img/multitude-mockup_mobile.jpg') no-repeat;
	 background-size: 100%;
	}

	#product-image.nebulo {
		background: url('../img/nebulo-iphone-mockup_mobile.jpg') no-repeat;
	 background-size: 100%;
	}

	#introduction p {
		text-align: center;
	}

	#social-btns {
		padding-top: 10px;
	}
}
